<%= link_to "new lam", new_lam_path %>
<br>
<table class="table">
<tr>
<th><%= link_to "Color", :sort => "color" %></th>
<th><%= link_to "Manufacturer", :sort => "manufacturer"  %></th>
<th><%= link_to "Grade", :sort => "grade" %></th>
<th>Bin</th>
<th>Job</th>
<th>Note</th>
<th>Size1</th>
<th>Size2</th>
</tr>

<% @laminates.each do |o| %>
	<tr>
	<td><%= o.color %></td>
	<td><%= o.manufacturer %></td>
	<td><%= o.grade %></td>
	<td><%= o.bin %></td>
	<td><%= o.job %></td>
	<td><%= o.note %></td>
	<td><%= o.size1 %></td>
	<td><%= o.size2 %></td>
	<td><%= link_to "=>", edit_lam_path(o) %></td>
	</tr>
<% end %>
</table>

<% @laminates.each do |v| %>
	<% v.versions.each do |change| %>
		<br>
		<%= change.event %>
		<%= change.whodunnit %>
		<%= change.created_at %>
		<% o = change.reify %>
		<table class="table">
			<tr>
			<td>Current:</td>
			<td><%= v.color %></td>
			<td><%= v.manufacturer %></td>
			<td><%= v.grade %></td>
			<td><%= v.bin %></td>
			<td><%= v.job %></td>
			<td><%= v.note %></td>
			<td><%= v.size1 %></td>
			<td><%= v.size2 %></td>
			<td></td>
			<% if o %>		
				<td>From:</td>
				<td><%= o.color %></td>
				<td><%= o.manufacturer %></td>
				<td><%= o.grade %></td>
				<td><%= o.bin %></td>
				<td><%= o.job %></td>
				<td><%= o.note %></td>
				<td><%= o.size1 %></td>
				<td><%= o.size2 %></td>
				</tr>
			<% end %>
		</table>
	<% end %>
<% end %>
<!-- 
# color:string 
# manufacturer:string 
# grade:string 
# bin:string 
# job:string 
# note:string 
# size1:integer 
# size2:integer

# quantity, user, color descriptions,
 -->